branches/gerasimov/Сайт/Project/WEB-xmcml/WEB-xmcml/Service References/ServiceReferenceControlTasks/ServiceControlTasks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WEB-xmcml" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WEB-xmcml" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WEB-xmcml">
      <s:element name="Init">
        <s:complexType />
      </s:element>
      <s:element name="InitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetNumTasks">
        <s:complexType />
      </s:element>
      <s:element name="GetNumTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumTasksResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="columnSort" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableStrResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPathDownloadOUT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPathDownloadOUTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPathDownloadOUTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPathDownloadMCML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPathDownloadMCMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPathDownloadMCMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTaskResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitSoapIn">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumTasks" />
  </wsdl:message>
  <wsdl:message name="GetNumTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableStrSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableStr" />
  </wsdl:message>
  <wsdl:message name="GetTableStrSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableStrResponse" />
  </wsdl:message>
  <wsdl:message name="GetIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetID" />
  </wsdl:message>
  <wsdl:message name="GetIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPathDownloadOUTSoapIn">
    <wsdl:part name="parameters" element="tns:GetPathDownloadOUT" />
  </wsdl:message>
  <wsdl:message name="GetPathDownloadOUTSoapOut">
    <wsdl:part name="parameters" element="tns:GetPathDownloadOUTResponse" />
  </wsdl:message>
  <wsdl:message name="GetPathDownloadMCMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetPathDownloadMCML" />
  </wsdl:message>
  <wsdl:message name="GetPathDownloadMCMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetPathDownloadMCMLResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitSoapIn" />
      <wsdl:output message="tns:InitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumTasks">
      <wsdl:input message="tns:GetNumTasksSoapIn" />
      <wsdl:output message="tns:GetNumTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableStr">
      <wsdl:input message="tns:GetTableStrSoapIn" />
      <wsdl:output message="tns:GetTableStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <wsdl:input message="tns:GetIDSoapIn" />
      <wsdl:output message="tns:GetIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadOUT">
      <wsdl:input message="tns:GetPathDownloadOUTSoapIn" />
      <wsdl:output message="tns:GetPathDownloadOUTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadMCML">
      <wsdl:input message="tns:GetPathDownloadMCMLSoapIn" />
      <wsdl:output message="tns:GetPathDownloadMCMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input message="tns:DeleteTaskSoapIn" />
      <wsdl:output message="tns:DeleteTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="WEB-xmcml/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumTasks">
      <soap:operation soapAction="WEB-xmcml/GetNumTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableStr">
      <soap:operation soapAction="WEB-xmcml/GetTableStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <soap:operation soapAction="WEB-xmcml/GetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadOUT">
      <soap:operation soapAction="WEB-xmcml/GetPathDownloadOUT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadMCML">
      <soap:operation soapAction="WEB-xmcml/GetPathDownloadMCML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="WEB-xmcml/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap12:operation soapAction="WEB-xmcml/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumTasks">
      <soap12:operation soapAction="WEB-xmcml/GetNumTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableStr">
      <soap12:operation soapAction="WEB-xmcml/GetTableStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetID">
      <soap12:operation soapAction="WEB-xmcml/GetID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadOUT">
      <soap12:operation soapAction="WEB-xmcml/GetPathDownloadOUT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathDownloadMCML">
      <soap12:operation soapAction="WEB-xmcml/GetPathDownloadMCML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="WEB-xmcml/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:5142/ServiceControlTasks.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:5142/ServiceControlTasks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>