branches/gerasimov/Сайт/Project/WEB-xmcml/WEB-xmcml/Service References/ServiceReferenceSurfaceCreator/ServiceSurfaceCreator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WEB-xmcml" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WEB-xmcml" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WEB-xmcml">
      <s:element name="GetPathSURFACEFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numSurfaces" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="centerX" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="centerY" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="centerZ" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="lengthX" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="lengthY" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPathSURFACEFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPathSURFACEFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPathSURFACEFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetPathSURFACEFile" />
  </wsdl:message>
  <wsdl:message name="GetPathSURFACEFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetPathSURFACEFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetPathSURFACEFile">
      <wsdl:input message="tns:GetPathSURFACEFileSoapIn" />
      <wsdl:output message="tns:GetPathSURFACEFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPathSURFACEFile">
      <soap:operation soapAction="WEB-xmcml/GetPathSURFACEFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPathSURFACEFile">
      <soap12:operation soapAction="WEB-xmcml/GetPathSURFACEFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6457/ServiceSurfaceCreator.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6457/ServiceSurfaceCreator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>